<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/external.js"></script>
    <title>Service</title>
</head>
<body>
    <h1>This is service page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, non. Dolor saepe, unde voluptate expedita, placeat mollitia odio esse, minus quas libero quasi. Soluta alias nam, quia sunt possimus nostrum.</p>
    <button type="button" onclick="help()" >Call for help</button>
</body>
</html>